*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Righteous';
	src:url('../fonts/Righteous-Regular.ttf');
}

h1 {
	display: inline-block;
  justify-self: center;
	font-size: 42px;
	letter-spacing: 3px;
	color: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
  white-space: nowrap;
}


@media only screen and (max-width: 920px) {
  h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin-left: 5px;
  }
}

footer a {
	text-decoration: none;
	opacity: 0.6;
}

.header {
	text-align: center;
	font-family: 'Righteous';
}

.header span {
	font-size: 20px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.7);
}

.languages {
	display: flex;
	opacity: 0.8;
	cursor: pointer;
  justify-self: left;
  margin-left: 5px;
  white-space: nowrap;
}

.languages img {
  padding: 3px;
}

@media only screen and (max-width: 920px) {
  .languages img {
    width: 24px;
  }
}

.transparent {
	opacity: 0.0;
}

#outerNav {
  margin: 0 auto;
	display: grid;
  height: 60px;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
	max-width: 1200px;
}

@media only screen and (max-width: 380px) {
  #outerNav {
    height: 80px;
  }
}

#innerNav {
  display: flex;
  height: 43px;
  justify-content: center;
  align-items: center;
	font-size: 17px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(220, 220, 220, 0.6);
}

@media only screen and (max-width: 920px) {
  #innerNav {
    height: 38px; 
    font-size: 13px;
    padding: 5px;
  }
}

@media only screen and (max-width: 460px) {
  #innerNav {
    height: 36px; 
    font-size: 10px;
    padding: 3px;
  }
}

#innerNav .navItem {
  padding: 10px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	border: 0px solid white;
	transition: all 0.5s;
  margin: 0 2%;
}

#innerNav .navItem:hover, #innerNav .navItem:focus {
	color: white;
	background-color: black;
	border-radius: 3px;
}

.mainContent {
	font-family: 'Righteous';
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
}

.topImgContainer {
	display: grid;
  grid-template-areas:
    "quo quo imgr imgr imgr"
    "quo quo imgr imgr imgr"
    "quo quo imgr imgr imgr"
    "imgl imgl imgr imgr imgr"
    "imgl imgl imgr imgr imgr";
  padding: 10px;
}

@media only screen and (max-width: 920px) {
  .topImgContainer {
    grid-template-areas:
      "imgr imgr imgr imgr imgr"
      "imgr imgr imgr imgr imgr"
      "imgr imgr imgr imgr imgr"
      "imgl imgl imgl quo quo"
      "imgl imgl imgl quo quo";
    padding: 5px;
  }
}   

.rightContainer {
  grid-area: imgr;
  width: 99%;
  height: 99%;
  overflow: hidden;
  margin: 0 auto;
}


@media only screen and (max-width: 920px) {
  .rightContainer {
    height: 99%;
  }
}

.leftContainer {
  grid-area: imgl;
  width: 99%;
  height: 99%;
  margin: 0 auto;
  overflow: hidden;
}

#rightImg, #leftImg, #bottomImg {
	width: 100%;
	transition: all 0.9s;
}

#rightImg:hover, #leftImg:hover, #bottomImg:hover, #contactIMG:hover {
	transform: scale(1.1);
}

#contactIMG {
	transition: all 0.9s;
	width: 60%;
	margin-top: 50px;
}

#contactInfo {
	text-align: center;
	font-size: 30px;
	padding: 5px;
	border-top: 2px solid rgba(0,0,0,0.4);
}

#showEmail {
	display:inline-block;
	cursor: pointer;
	font-size: 30px;
	color: darkblue;
	padding: 5px;
	border-bottom: 2px solid rgba(0,0,0,0.4);
}

.shortFact {
  grid-area: "quo";
  height: 100%;
  width: 100%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

@media only screen and (max-width: 1200px) {
  .shortFact {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1000px) {
  .shortFact {
    margin-top: 2%;
  }
}

@media only screen and (max-width: 920px) {
  .shortFact {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 620px) {
  .shortFact {
    font-size: 14px;
  }
}

@media only screen and (max-width: 460px) {
  .shortFact {
    margin-top: 0%;
  }
}


.mainText {
	font-family: sans-serif;
	font-size: 2rem;
	color: rgba(0, 0, 0, 0.8);
	text-align: left;
	display: inline-block;
	width: 98%;
}

.contentImgContainer {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}

footer {
	position: relative;
	bottom: 0;
	font-family: 'Righteous';
	font-size: 14px;
	width: 100%;
	height: 36px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	border-top: 2px solid rgba(220, 220, 220, 0.6);
	margin-top: 10px;
	background-color: rgba(235, 235, 235, 0.6);
}

footer span {
	color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
}

.gridContainer {
	display: inline-grid;
	max-width: 900px;
  width: 100%;
	height: 100%;
	grid-row-gap: 3px;
	grid-column-gap: 3px;
	justify-content: center;
	margin-top: 20px;
}

@media only screen and (max-width: 1020px) {

}

.gridItem  {
  content: "";
  margin: 0 auto;
	display: inline-block;
	width: 100%;
  height: 100%;
	cursor: pointer;
  transition: 0.3s;
}

.gridItem p {
  position: relative;
  padding: 6.5rem;
  visibility: hidden;
  z-index: -1;
}

.gridItem:hover, .gridItem:focus {
	opacity: 0.7;
}

/* Gallery full-size image window */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    width: 100%; 
    max-width: 1200px; 
    height: 100%;
    top: 0; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
    box-shadow: 1000px 0px rgba(0,0,0,0.9), -1000px 0px rgba(0,0,0,0.9);
}

.modal-content {
	text-align: center;
    display: block;
    width: 100%;
    margin: auto;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Gallery zoom close buttom */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  border: 1px solid rgb(175, 55, 55);
  padding: 1rem 1.1rem 1rem 1rem;
  line-height: 15px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

.close:hover,
.close:focus {
  color: #bbb;
}