@font-face {
	font-family: 'Righteous';
	src:url('../fonts/Righteous-Regular.ttf');
}

body {
	min-width: 1200px;
}

h1 {
	display: inline-block;
	font-size: 42px;
	letter-spacing: 3px;
	color: rgba(0, 0, 0, 0.8);
	margin-right: 12px;
}

a {
	text-decoration: none;
	opacity: 0.6;
}

.header {
	text-align: center;
	font-family: 'Righteous';
}

.header span {
	font-size: 20px;
	letter-spacing: 1px;
	color: rgba(0, 0, 0, 0.7);
}

.languages {
	display: inline-block;
	float:left;
	opacity: 0.7;
	margin-top: 30px;
	margin-left: 17px;
}

.transparent {
	opacity: 0.0;
}

#outerNav {
	display: inline-block;
	text-align: center;
	width: 1200px;
}

#innerNav {
	font-size: 17px;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: rgba(220, 220, 220, 0.6);
	padding: 10px;
}

#innerNav .navItem {
	margin: 0 14px 0 14px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	border: 1px solid white;
	border-radius: 3px;
	transition: all 0.5s;
}

#innerNav .navItem:hover, #innerNav .navItem:focus {
	color: white;
	background-color: black;
}

.mainContent {
	font-family: 'Righteous';
	text-align: center;
	margin: auto;
	width: 1200px;
	height: 100%;
}

.topImgContainer {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin-top: 1%;
}

.rightContainer {
	display: inline-block;
	width: 61%;	
	overflow:hidden;
	margin: 1%;
}

.leftContainer {
	display: inline-block;
	width: 34%;	
	overflow:hidden;
	margin: 1%;
}

#rightImg, #leftImg, #bottomImg {
	width: 100%;
	transition: all 0.9s;
}

#rightImg:hover, #leftImg:hover, #bottomImg:hover {
	transform: scale(1.1);
}

.shortFact {
	text-align: left;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 13%;
	height: 10%;
	min-width: 310px;
	margin-left: 20px;
	border-right: 3px solid rgba(220, 220, 220, 0.6);
	padding-right: 24px;
	top: 150px;
}

.mainText {
	font-family: sans-serif;
	font-size: 25px;
	color: rgba(0, 0, 0, 0.8);
	text-align: left;
	display: inline-block;
	width: 98%;
}

.contentImgContainer {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}

footer {
	position: relative;
	bottom: 0px;
	font-family: 'Righteous';
	font-size: 14px;
	width: 100%;
	height: 36px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	border-top: 2px solid rgba(220, 220, 220, 0.6);
	margin-top: 10px;
	background-color: rgba(235, 235, 235, 0.6);
}

footer span {
	color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
}

.gridContainer {
	display: inline-grid;
	width: 72%;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	justify-content: center;
	margin-top: 20px;
}

.gridItem  {
	display: inline-block;
	width: 100%;
	cursor: pointer;
    transition: 0.3s;
}

.gridItem:hover, .gridItem:focus {
	opacity: 0.7;
}

/* Gallery full-size image window */

.modal {
	text-align: center;
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
    top: 0;
}

.modal-content {
	text-align: center;
    display: block;
    width: 80%;
    margin: auto;
    top: 20px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

#imageZoom {
	margin-top: 20px;
}


/* Gallery zoom close buttom */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
}